<footer>
  <div class="container">
    <p>&copy; {{ 'now' | date: "%Y" }} {{ site.name }}. Powered by <a href="https://posthaven.com">Posthaven</a>.</p>
    <p>Theme: <a href="https://github.com/jon-xo/posthaven-minimal-dark">Minimal Dark</a> by jon-xo</p>
  </div>
</footer>
