<section class="archive">
  <h1>Archive</h1>
  
  <div class="archive-search">
    {% archive_search %}
  </div>
  
  <div class="archive-months">
    {% archive_months %}
  </div>
  
  <div class="archive-results">
    {% archive_results %}
  </div>
</section>
